<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add new document</h1>
<form method="POST" action="/">
    <input type="text" name="id">
    <input type="text" name="title">
    <input type="text" name="author">
    <input type="submit" value="Add">
</form>

{% if warnings is defined %}
    <h1>Warnings:</h1>
    {% for w in warnings %}
        {{ w }}
    {% endfor %}
{% endif %}

<h1>Registered Documents</h1>
{% for doc in docs %}
<p>{{doc.id}}: {{doc.title}},  {{doc.author}}, {{doc.date}}</p>
<form method="POST" action="./update">
    <input type="hidden" value="{{doc.id}}" name="id">
    <input type="text" value="{{doc.title}}" name="newtitle">
    <input type="text" value="{{doc.author}}" name="newauthor">
    <input type="submit" value="Update">
</form>

<form method="POST" action="./delete">
    <input type="hidden" value="{{doc.id}}" name="id">
    <input type="submit" value="Delete">
</form>

{% endfor %}

</body>
</html>